.contacts {
	position: relative;
	width: 100%;
	background: white;
	z-index: 5;

	&__content {
		position: relative;
		max-width: 1170px;
		height: auto;
		margin: 60px auto 0;
		padding: 40px 15px 0;
		box-sizing: border-box;
		@include phones {
			padding: 20px 15px 0;
			margin: 0 auto;
		}
	}

	&__heading {
		position: relative;
		display: flex;
		margin-bottom: 10px;
	}

	&__title {
		position: relative;
		display: inline;
		width: 350px;
		margin-right: 40px;
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__subtitle {
		position: relative;
		display: flex;
		align-items: flex-end;
		color: #729ccf;
		// margin-left: 30px;
		text-transform: uppercase;
		font-size: 14px; 
	}

	&__maps {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// margin-bottom: 50px;
	}
	&__piece{
		position: relative;
		width: 50%;		
		min-height: 100px;
		&:nth-child(3) {
			margin: 10px 0;
		}
		&:nth-child(4) {
			margin: 10px 0;
		}
		@include phones {
			width: 100%;
			box-sizing: border-box;
			// padding: 15px;	
		}
		@include tablets {
			width: 50%;
			box-sizing: border-box;
			// padding: 15px;	
		}
	}
	&__data{
		position: relative;
		background: #f5f5f5;
		padding: 30px 0;
		
		display: flex;
		// width: 70%;
		justify-content: flex-end;
		@include phones {
			padding: 15px 0;	
		}
		&.sp-office{
			order: 1;
			// left: 10%;
		}
		&.sp-stock{
			order: 4;
			justify-content: flex-start;
			// padding-left: 30px;
			.contact {
				margin-left: 115px;
				@include phones {
					margin: 0;
				}
			}
			// right: 6%;
			@include phones {
				order: 3;
			}
			@include tablets {
				order: 4;
			}
		}
		
		&.msk-stock{
			order: 5;
			// left: 10%;
		}
	}
	&__map{
		background: transparent;
		overflow: hidden;
		& iframe{
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.sp-office{
			order: 2;
		}
		&.sp-stock{
			order: 3;
			@include phones {
				order: 4;
			}
			@include tablets {
				order: 3;
			}
		}
		&.msk-stock{
			order: 6;
		}
	}
}