/* ---ПОДВАЛ СТРАНИЦЫ--- */
.content {
  flex: 1 0 auto;
}
footer {
  position: relative;
  background-color: white;
  color: $subColor;
  flex: 0 0 auto;
}
.footer {
  width: 100%;
  height: auto;
  font-size: 13px;
  font-weight: 500;
  z-index: 2;
  // margin: auto;
  // padding: 40px 15px 0;
  &__content {
    position: relative;
    width: 1170px;
    margin: auto;
    padding: 40px 15px 0;
    box-sizing: border-box;
    @include phones {
      width: 100%;
      padding: 20px 15px 0;
    }
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    // & a {
    //   width: 185px;
    //   color: $contrColor;
    //   font-weight: normal;
    //   text-decoration: none;
    //   border-bottom: 1px solid rgba($contrColor,.5);
    //   &:nth-child(3) {
    //     width: 135px;
    //   }
    //   &:hover, &:focus {
    //     color: darken($contrColor,5%);
    //     border-bottom: 1px solid rgba(darken($contrColor,5%),1);
    //     outline: none;
    //   }
    //   &:active {
    //     color: darken($contrColor,10%);
    //     border-bottom: 1px solid rgba(darken($contrColor,10%),1)
    //   }
    // }
    
  }
  &__image {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    @include phones {
        width: 35%;
      }
    @include tablets {
      width: 200px;
    }
    & a {
      width: 185px;
      color: $contrColor;
      font-weight: normal;
      text-decoration: none;
      border-bottom: 1px solid rgba($contrColor,.5);
      &:nth-child(3) {
        width: 135px;
      }
      &:hover, &:focus {
        color: darken($contrColor,5%);
        border-bottom: 1px solid rgba(darken($contrColor,5%),1);
        outline: none;
      }
      &:active {
        color: darken($contrColor,10%);
        border-bottom: 1px solid rgba(darken($contrColor,10%),1)
      }
    }

  }
  &__logo {
    position: relative;
    margin: 15px 0 25px;
    width: 220px;
    @include phones {
        width: 100%;
      }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__calc-metal, &__calc-tube {
    position: relative;
    margin-bottom: 15px;
    

    
  }
  
  &-column{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablets {
      // margin: 0 15px;
    }
   
    &:first-child {
      width: 25%;
      
      
    }
    &:nth-child(2) {
      width: 15%;
      @include phones {
        width: auto;
      }
      @include tablets {
        width: auto;
      }
      
    }
    &:nth-child(3) {
      width: 25%;
      @include phones {
        display: none;
      }
      @include tablets {
        display: flex;
        width: auto;
      }
    }
    &:nth-child(4) {
      // width: 25%;
      @include phones {
        display: none;
      }
    }
    &:last-child {
      width: 25%;
      @include phones {
        display: none;
      }
    }
    &__name {
      position: relative;
      margin: 20px 0;
      font-size: 18px;
      font-weight: 600;
      color: $mainColor;
      text-transform: uppercase;
    }
    &__lines {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // line-height: 2.154;
      text-transform: uppercase;
    }
    &__line {
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      text-decoration: none;
      color: $subColor;
      transition: .5s;
      height: auto;
      margin: 5px 0;
      border-bottom: 1px solid rgba(darken($subColor,5%),0);


      &:hover, &:focus {
        color: darken($subColor,5%);
        border-bottom: 1px solid rgba(darken($subColor,5%),1);
        outline: none;
        // &:after {
        //   display: none;
        // }
      }
      &:active {
        color: darken($subColor,10%);
        border-bottom: 1px solid rgba(darken($subColor,10%),1);
        // &:after {
        //   display: none;
        // }
      }
      // &:after {
      //   content: '';
      //   position: relative;
      //   width: 100%;
      //   height: 1px;
      // }

    } 
  }
  &__bottom {
    position: relative;
    width: 100%;
    height: 65px;
    display: flex;    
    align-items: center;
    color: $mainColor;
    font-weight: normal;
    box-sizing: border-box;
    
    &-columns {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      box-sizing: border-box;
      @include phones {
        flex-wrap: wrap;
        justify-content: center;
      }
      & a {
        color: #729ccf;
        &:hover, &:focus {
          color: darken(#729ccf,5%);
        }
        &:active {
          color: darken(#729ccf,10%);
        }
      }
    }
    &-bg {
      position: absolute;
      width: 100%;
      height: 65px;
      bottom: 0;
      background-color: #efefef;
      z-index: -1;
    }
  }
  &__company, &__politics, &__year  {
    width: 25%;
    @include phones {
      width: 100%;
      text-align: center;
    }
    @include tablets {
      width: 50%;
      text-align: center;
    }
  }
  &__requisites {
    width: 15%;
    @include phones {
      width: 100%;
      text-align: center;
    }
    @include tablets {
      width: 50%;
      text-align: center;
    }
  }
  &__politics {
    @include tablets {
      order: -1;
    }
  }
}


