.oft {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-family: "NoirPro";
	font-size: 16px;
	color: #a5c2e6;

	& li {
		& a {
			font-family: "NoirPro";
			font-size: 16px;
			color: white;
		}

	}
}