.search {
	&__input {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		// margin: 15px 0;

		& input {
			position: relative;
			box-sizing: border-box;
			border: 0;
			outline: 0;
			width: 100%;
			height: 80px;
			padding-left: 65px;
			@include phones {
				height: 50px;;
				padding-left: 65px;
			}
			&::placeholder {
				position: absolute;
				color: black;
				line-height: 80px;
				left: 65px;
				font-size: 18px;
				transform: translate3d(0, 0, 0);
				transition: all .4s;
				@include phones {
					line-height: 45px;
					left: 65px;
				}
			}
		}

		

		& .square-small-blue {
			@include centered(y);
			z-index: 5;
			left: 25px;

		}
	}

	&__square {}

	&__magnify {
		@include centered(y);
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #729ccf;
		width: 80px;
		height: 100%;
		cursor: pointer;
		transition: .5s;
		&:hover, &:focus {
			background: darken(#729ccf,5%);
			outline: none;
		}
		&:active {
			background: darken(#729ccf,10%);
		}
		@include phones {
			width: 50px;
		}

		& img {
			width: 40px;
			height: 40px;
			filter: invert(100%);
			@include phones {
				width: 25px;
				height: 25px;
			}
		}
	}
	&--gray {
		background:  #efefef;
		height: 80px;
		@include phones {
			height: 50px;
		}
		.search__input {
			width: 1140px;
			margin: 0 auto 70px;
			overflow: visible;
			& input {
				padding-left: 0;
			}
			@include phones {
				width: 100%;
				margin-top: 60px;
				padding-left: 15px;
				box-sizing: border-box;
				&:before {
					content: '';
					position: absolute;
					top: -60px;
					left:0;
					display: block;
					width: 100%;
					height: 60px;
					background: $subColor;
				}
			}
			.square-small-blue {
				display: none;
			}
			&::placeholder {
				left: 0;
				@include phones {
					left: 15px;
				}
			}
			// background:  #efefef;
		}
		& input {
		background:  #efefef;
		}
	}
}