$sidebar-width:200px;
.container{
	position: relative;
	margin-left: $sidebar-width;
}
.sidebar{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	min-height: 100%;
	width: $sidebar-width;
	background: $backColor;
}