.sideType {
	position: relative;
	display: none;
	padding: 15px 30px;
	font-size: 15px;
	font-family: "NoirPro";
	color: rgb(37, 71, 119);
	font-weight: bold;
	text-transform: uppercase;
	&:after {
		content: "";
		position: absolute;
		box-shadow: 0 1px 1px rgba(black, 0.3),
			0 -1px 1px lighten(rgba($backColor, 0.3), 20%);
		left: -3px;
		width: calc(100% + 6px);
		height: 1px;
	}

	&:after {
		bottom: -0.5px;
	}
	& label{
		& span{
			&:last-child{
				position: relative;
				padding: 0 5px;
				letter-spacing: 1px;
				writing-mode: horizontal-tb;
			}
		}
	}
	&__list{
		position: relative;
		display: none;
	}
	& input[type="checkbox"] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked {
        & ~ .sideType__list {
          display: flex;
          flex-direction: column;
		  }
		  & ~ label{
			& span{
				&:last-child{
					writing-mode: vertical-lr;
					
				}
			}
		}
      }
    }
}