.section-heading {
		position: relative;
		width: 48%;
		display: inline-block;
		margin-bottom: 70px;
		@include phones {
			width: 90%;
			margin-bottom: 20px;
		}
	}

.section-medium-heading {
		position: relative;
		width: 100%;
		display: inline-block;
		margin-bottom: 40px;
		@include phones {
			width: 100%;
			margin-bottom: 20px;
			.square-medium-blue {
				display: none;
			}
		}
	}
.section-title, .section-medium-title {
		position: relative;
		display: inline;
		width: 100%;
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		margin-right: 30px;
		@include phones {
			font-size: 40px;
			margin-right: 20px;
		}
	}
.section-medium-title {
		font-size: 36px;
		font-weight: 700;
		@include phones {
			font-size: 30px;
			margin-right: 20px;
		}
	}	
.section-subtitle, .section-medium-subtitle {
		position: relative;
		display: inline-block;
		color: #729ccf;
		text-transform: uppercase;
		font-size: 14px;
		text-decoration: none;
		cursor: pointer;
		border-bottom: 1px solid rgba(#729ccf,.5); 
		&:hover, &:focus {
			color: darken(#729ccf,5%);
			border-bottom: 1px solid rgba(darken(#729ccf,5%),1);
			outline: none;
		  }
		&:active {
			color: darken(#729ccf,10%);
			border-bottom: 1px solid rgba(darken(#729ccf,10%),1)
		  }
		@include phones {
		}
	}