mixin search(cl)
	#search.search(class=cl)
		.search__input
			+square-small-blue
			input(type="text")
			label Что вы ищете?
			.search__magnify
				img(src="./assets/images/magnifying-glass.png", alt="magnifying-glass")
