mixin sideType(id,label,arr=[])
	.sideType
		.sideType__title.for-active
			span=label
			+arrow
		ul.sideType__list
			each item in arr
				li.sideTypeSub
					.sideTypeSub__title.for-active
						span=item
