mixin square-small-blue
	.square-small-blue
		.square-small-blue__inner

mixin square-medium-blue
	.square-medium-blue
		.square-medium-blue__inner

mixin square-large-blue
	.square-large-blue
		.square-large-blue__inner

mixin square-small-red
	.square-small-red
		.square-small-red__inner

