include ./mixins/_form
include ./mixins/_contact
include ./mixins/_search
include ./mixins/_sideType
include ./mixins/_sertificates
include ./mixins/_footer-column
include ./mixins/_square
include ./mixins/_product
include ./mixins/_service
include ./mixins/_news
include ./mixins/_arrow
include ./mixins/_track
include ./mixins/_lightmenu
include ./mixins/_controllers
include ./mixins/_arrow
include ./mixins/_title
include ./mixins/_pdf
include ./mixins/_path
include ./mixins/_card-big
include ./mixins/_client
include ./mixins/_filter
include ./mixins/_table
include ./mixins/_gallery-item
include ./mixins/_popup
