include ./mixins/_form
include ./mixins/_contact
include ./mixins/_search
include ./mixins/_sideType
include ./mixins/_sertificates
include ./mixins/_footer-column
include ./mixins/_square
include ./mixins/_product
include ./mixins/_service
