//- Наследуемый шаблон _template
extends ./templates/_template
block variables
	- var title = "Контакты"
block content
	include ./templates/_navigation
	+search('search--gray')
	include ./templates/_31-contacts
	//- include ./templates/_7-contacts
	include ./templates/_32-requisite
	+form
	include ./templates/_footer