//- Наследуемый шаблон _template
extends ./templates/_template
block variables
	- var title = "Новости компании"
block content
	include ./templates/_navigation
	+search('search--gray')
	include ./templates/_61-news
	+form
	include ./templates/_7-contacts
	include ./templates/_footer