@charset "UTF-8";
/* ---БАЗОВАЯ НАСТРОЙКА СТРАНИЦЫ--- */
body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #f5f5f5;
  color: #364f6b;
  overflow-x: hidden;
  font-family: "Roboto";
  font-weight: normal;
}

/* ---НАСТРОЙКА ШРИФТОВ СТРАНИЦЫ--- */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.goods {
  position: relative;
  min-height: 300px;
  background: #f5f5f5;
}

.products {
  position: relative;
  min-height: 300px;
  background: #fc5185;
}

.services {
  position: relative;
  min-height: 300px;
  background: #3fc1c9;
}

.advantages {
  position: relative;
  min-height: 300px;
  background: #f5f5f5;
}

.reviews {
  position: relative;
  min-height: 300px;
  background: #fc5185;
}

.news {
  position: relative;
  min-height: 300px;
  background: #3fc1c9;
}

.contacts {
  position: relative;
  min-height: 300px;
  background: #f5f5f5;
}

.goods {
  position: relative;
  min-height: 300px;
  background: #fc5185;
}

.container {
  position: relative;
  margin-left: 200px;
}

.sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 200px;
  background: #f5f5f5;
}

.navigation {
  position: relative;
  min-height: 50px;
  background: #364f6b;
  color: #f5f5f5;
}

.header {
  position: relative;
  min-height: 300px;
  background: #f5f5f5;
}

/* ---ПОДВАЛ СТРАНИЦЫ--- */
.content {
  flex: 1 0 auto;
}

footer {
  position: relative;
  background-color: #364f6b;
  color: #f5f5f5;
  flex: 0 0 auto;
}

.footer {
  min-height: 300px;
  text-align: center;
}
