section.section.goods#goods
	.goods__content
		+title-large('Товары месяца','Весь каталог')
		//- +square-large-blue
		//- .products__heading
		//- 	.products__title Товары месяца
		.goods__slider
			.glide
				.glide__track(data-glide-el="track")
					.glide__slides.goods__slides
						each item in [{'img':'steel','title':'Лист стальной оцинкованный','link':'#'},{'img':'armature','title':'Арматура А3','link':'#'},{'img':'steel','title':'Лист стальной оцинкованный','link':'#'},{'img':'armature','title':'Арматура А3','link':'#'}]
							.glide-slide
								.good
									.good__image
										img(src=`./assets/images/goods_${item.img}.jpg`, alt=item.img)
									+square-medium-red
									.good__info
										.good__title=item.title
										a(href=item.link).good__link Подробнее
				.goods__controllers
					+controllers