section.section.catalog#catalog
	.catalog__content
		+path(['Главная'],'Каталог продукции')
		+title-large('Каталог продукции','')
			//- +square-large-blue
			//- .products__heading
			//- 	.products__title Наша продукция
		.catalog__text 
			p Наша компания предлагает широкий выбор услуг, связанных с металлом.
			p Мы осуществляем не только продажу металлопроката, но также и изготовление различных металлоконструкций. Вы можете рассчитывать на то, что с помощью высокотехнологичного оборудования наших цехов и квалифицированных мастеров, имеющих большой опыт работы, мы выполним ее отлично.
		.catalog__body
			+product('Сортовой прокат','sort-prokat','product-absolute')
			+product('Листовой прокат','list-prokat')
			+product('Метизы','metizy')
			+product('Трубы и фасонные изделия','truby')
			+product('Поковки','pokovki')
			+product('Шпунт','shpunt')
			+product('Полособульб','polosobulb')


			
			