section.section.reviews#reviews
	.reviews__bg
		img(src="./assets/images/reviews_lg.jpg", alt="Фон формы")
	.reviews__content-extended
		+title-large('Отзывы')
		h2.reviews__title 
			span Высокое качество продукции и сервиса
			span Подтверждены отзывами наших клиентов!
		.reviews__desc Благодарственное письмо от компании "РЖД"	
		.reviews__sliders
			+pdf('pdf__2')
