section.section.more#more
	.more__content
		+title-large('Подробнее о нас','посмотрите презентацию')
		.more__body
			.more__text 
				span ООО «МГСЗ» создано 13 мая 2010 года в Санкт-Петербурге. Основной деятельностью нашей организации является оптовая и розничная торговля металлопрокатом. Компания с одинаковым успехом занимается снабжением как мелкорозничных клиентов, так и крупных промышленных предприятий.  Приоритетное направление — реализация на российском рынке качественного металлопроката, доступного потребителю, с возможностью комплектации заказа в максимально сжатые сроки. 