section.section.logistics#logistics
	.logistics__content
		+title-medium('Логистика')
		.logistics__body
			.logistics__map
				img(src="./assets/images/russia_map.png", alt="Russia")
				.logistics__text Логистические возможности позволяют поставлять продукцию во все регионы России. Расстояние для нас не проблема, а интересная задача для наших логистов — доставить продукцию до заказчика в любую, даже самую удаленную точку России, быстро, надежно и недорого.
				.logistics__items
					.log__item.log__item1 Мурманск
					.log__item.log__item2 Архангельск
					.log__item.log__item3.log__item--top Санкт-петербург
					.log__item.log__item4 Иваново
					.log__item.log__item5 Москва
					.log__item.log__item6 Казань
					.log__item.log__item7 Орел
					.log__item.log__item8.log__item--top Белгород
					.log__item.log__item9 Севастополь
					.log__item.log__item10 Волгоград
					.log__item.log__item11 Краснодар
					.log__item.log__item12 Екатеринбург
					.log__item.log__item13 Новосибирск
					.log__item.log__item14 Красноярск
					.log__item.log__item15 Хабаровск
