section.section.services#services
	.services__content
		+title-large('Мы предлагаем услуги','Все услуги')
		//- +square-large-blue
		//- .services__heading
		//- 	span.services__title Мы предлагаем услуги
		//- 	a(href='').services__subtitle Все услуги
		.services__body
			+service(1,'Изготовление металло- конструкций','Металлоконструкции – неотъемлемая составляющая любого строительного процесса. Благодаря их удивительным свойствам, особенностям и функциональным характеристикам, сооружения получаются устойчивыми, крепкими, надежными и безопасными для окружающих.')
			+service(2,'Изоляция','Изоляция для подземной бесканальной прокладки в полиэтиленовой гидрозащитной оболочке и для надземной прокладки в оцинкованной оболочке диаметрами 57/125—1420/1600 мм, а также комплектующие (отводы, сильфонные компесаторы, неподвижные щитовые опоры, переходы и комплекты для заделки стыков).')
			+service(3,'Оцинкование металла','Коррозия – злейший враг металла. Эффективным способом защиты металлоконструкций от коррозии является нанесение цинковых покрытий. Наша компания предлагает Вам оцинкование металлоконструкций.')
			+service(4,'Грунтовка металла','Для того чтобы увеличить срок службы металлических конструкций и придать им эстетичный вид, выполняются покрасочные работы. Но прежде чем наносить краску, нужно провести обработку поверхности – это улучшит прилегание состава к металлу и усилит его защитные свойства.')
			+service(5,'Резка металла','Компания «МеталлГрупп Северо-Запад» предлагает услуги по резке металлопроката. Мы имеем возможность отрабатывать заявки с резкой металла в необходимый размер, наши специалисты оформят Вашу заявку на резку со всеми необходимыми условиями. ')
			+service(6,'Погрузо-разгрузочные работы','Загрузка металла на складе происходит в открытый кузов нашим краном бесплатно. Если автотранспорт на загрузку приходит с закрытый то возможно осуществить  ручную погрузка в Ваш транспорт. Стоимость ручной погрузки 2500 р. за тн металла.')
			