section.section.contacts#contacts
	.contacts__content
		+path(['Главная'],'Контакты')
		+title-large('Контакты','Подробнее о контактах')
		+lightmenu('',[['Офис в Санкт-Петербурге','selected'],['Склад в Санкт-Петербурге'],['Склад в Москве'],['Реквизиты']])
	.contacts__maps
		.contacts__piece.contacts__data.sp-office
			+contact('офис в санкт-петербурге','пр-кт Медиков, д.9 лит.Б, оф.303','88124481348','8 (812) 448-13-48','sale@mgsz.ru','#')
		.contacts__piece.contacts__map.sp-office
			img(src="./assets/images/sp-office.jpg", alt="sp-office")
		.contacts__piece.contacts__data.sp-stock
			+contact('склад в санкт-петербурге','пр-кт Медиков, д.9 лит.Б, оф.303','88124481348','8 (812) 448-13-48','sale@mgsz.ru','#')
		.contacts__piece.contacts__map.sp-stock
			img(src="./assets/images/sp-stock.jpg", alt="sp-office")
		.contacts__piece.contacts__data.msk-stock
			+contact('склад в москве','Карачарово, ул. Стахановская, д. 19',' 84996537548',' 8 (499) 653-75-48','sale@mgsz.ru','#')
		.contacts__piece.contacts__map.msk-stock
			img(src="./assets/images/msk-stock.jpg", alt="sp-office")