section.section.requisite#requisite
	.requisite__content
		+title-medium('Реквизиты организации')
		.requisite__body
			.requisite__text 
				span ООО «МеталлГрупп Северо-Запад»
				span Юридический адрес: 197022, город Санкт-Петербург, проспект Медиков дом 9, литера Б, помещение 16-н, кабинет 303
				span Почтовый адрес: 197022, Санкт-Петербург, пр. Медиков, д. 9, литера Б, помещение 16-н, оф. 303
				span ИНН 7804437971
				span КПП 781301001
				span ОГРН 1107847152269
				span р/сч 40702810222060000104 ФИЛИАЛ «С-Петербургская дирекция ОАО «УРАЛСИБ» 191011 отделение «Выборгское» Энгельса д. 111 к/сч 30101810800000000706 БИК 044030706