section.section.advantages#advantages
	.advantages__content
		+title-large('Что вы получаете?')
		//- +square-large-blue
		//- .advantages__heading
		//- 	h2.advantages__title Что вы получаете?
		.advantages__subtitle
				p ООО «МеталлГрупп Северо-Запад» — это команда профессионалов, которым важен каждый Ваш заказ, мы работаем ради Вашего успеха и ценим Вашу благодарность! Оглядываясь назад, мы гордимся, что поставляли металлопрокат и металлоконструкции на множество строительных объектов, в том числе на ЗСД, Зенит-Арена, Лахта-Центр и другие.
		.advantages__list
			.advantages__item
				.advantages__image
					img(src="./assets/images/advantages_1.png", alt="advantages_1")
				.advantages__text
					span Вас
					span не обвесят!
			.advantages__item
				.advantages__image
					img(src="./assets/images/advantages_2.png", alt="advantages_2")
				.advantages__text
					span Вам дадут
					span товар в долг!
			.advantages__item
				.advantages__image
					img(src="./assets/images/advantages_3.png", alt="advantages_3")
				.advantages__text
					span Вам
					span сделают скидку!
			.advantages__item
				.advantages__image
					img(src="./assets/images/advantages_4.png", alt="advantages_4")
				.advantages__text
					span Весь необходимый вам
					span ассортимент в одном месте!
			.advantages__item
				.advantages__image
					img(src="./assets/images/advantages_5.png", alt="advantages_5")
				.advantages__text
					span Специальные цены
					span при покупке в предоплату!