section.section.gallery#gallery
	.gallery__content
		+path(['Главная'],'Галерея')
		+title-large('Галерея','')
		+lightmenu('',[['Все фотографии','selected'],['Наши объекты'],['Наш склад']])
		.gallery__body
			+gallery-item('1','зсд санкт-петербург')
			+gallery-item('2','жк князь александр невский')
			+gallery-item('3','мариинский театр')
			+gallery-item('4','порт морской фасад')
			+gallery-item('5','государственный театр буфф')
			+gallery-item('6','главный штаб мо рф на дворцовой')
		+controllers        


			
			