section.section.reviews#reviews
	.reviews__bg
		img(src="./assets/images/reviews_lg.jpg", alt="Фон формы")
	.reviews__content
		h2.reviews__title 
			span Высокое качество продукции и сервиса
			span Подтверждены отзывами наших клиентов!
		.reviews__sliders
			+pdf
