section.section.card#card
	.card__content
		+path(['Главная','Каталог продукции','Сортовой прокат','Трубы'],'Новости компании')
		+title-medium-lgs('Труба бесшованая холоднодеформированная','Все новости')
		.card__body
			+card-big