section.section.card-price#card-price
	.card-price__content
		+title-medium('Прайс-лист на трубы')
		.card-price__body
			+card-filter
			+table([
				['Труба 57х1 ГОСТ 8734-75','6','250'],
				['Труба 57х2 ГОСТ 8734-75','10','690'],
				['Труба 57х3 ГОСТ 8734-75','8','230'],
				['Труба 57х3.5 ГОСТ 8734-75','4','1690'],
				['Труба 57х4 ГОСТ 8734-75','6','250'],
				['Труба 57х4.5 ГОСТ 8734-75','10','690'],
				['Труба 57х5 ГОСТ 8734-75','8','230'],
				['Труба 57х5.5 ГОСТ 8734-75','4','1690'],
				['Труба 57х6 ГОСТ 8734-75','6','250'],
				['Труба 57х6.5 ГОСТ 8734-75','10','690'],
				['Труба 57х7 ГОСТ 8734-75','8','230'],
				['Труба 57х7.5 ГОСТ 8734-75','4','1690'],
				['Труба 57х1 ГОСТ 8734-75','6','250'],
				['Труба 57х2 ГОСТ 8734-75','10','690'],
				['Труба 57х3 ГОСТ 8734-75','8','230'],
				['Труба 57х3.5 ГОСТ 8734-75','4','1690'],
				['Труба 57х4 ГОСТ 8734-75','6','250'],
				['Труба 57х4.5 ГОСТ 8734-75','10','690'],
				['Труба 57х5 ГОСТ 8734-75','8','230'],
				['Труба 57х5.5 ГОСТ 8734-75','4','1690'],
				['Труба 57х6 ГОСТ 8734-75','6','250'],
				['Труба 57х6.5 ГОСТ 8734-75','10','690'],
				['Труба 57х7 ГОСТ 8734-75','8','230'],
				['Труба 57х7.5 ГОСТ 8734-75','4','1690'],
			])