section.section.card-desc#card-desc
	.card-desc__content
		.card-descTable.tabs
			ul.card-descTable__tabs
				li.card-descTable__tab.tbs-trg.selected Описание
				li.card-descTable__tab.tbs-trg Характеристика
			.card-descTable__items
				.card-descTable__item.tbs-itm.selected
					.card-descTable__info
						p Труба бесшовная холоднодеформированная (ГОСТ 8734-75) активно используется в промышленной отрасли. Данный вид продукции отличается прочностью, способностью выдерживать большое давление, точностью размеров при производстве и т.д.
						h4 Производство
						p Технологии производства: прокатка при более низких температурах (наиболее распространенный способ). Труба бесшовная ХД производится из специальных заготовок, а именно – горячедеформированного проката. Металлопрокат проходит двойной цикл: после горячей прокатки на прокатном стане, она дополнительно подвергается холодной деформации при температуре ниже, чем необходимо для кристаллизации. Основные методы обработки:
						ul
							li Волочение
							li Прессование
							li Ковка
						p Сечение проката может быть круглым, овальным, квадратным и прямоугольным. После окончания производства металлопрокат подвергается ряду испытаний:
						ul
							li Сплющивание
							li Растяжение
							li Сжатие
				.card-descTable__item.tbs-itm
					.card-descTable__tables
						table
							tbody
								tr
									td Марка
									td Ст20
								tr
									td Размер
									td 51
								tr
									td ГОСТ
									td 8734-75
								tr
									td Длина
									td 6000
								tr
									td Марка
									td Ст20
								tr
									td Размер
									td 51
								tr
									td ГОСТ
									td 8734-75
						table
							tbody
								tr
									td Марка
									td Ст20
								tr
									td Размер
									td 51
								tr
									td ГОСТ
									td 8734-75
								tr
									td Длина
									td 6000
								tr
									td Марка
									td Ст20
								tr
									td Размер
									td 51
								tr
									td ГОСТ
									td 8734-75
