section.section.card-recomend#card-recomend
	.card-recomend__content
		+title-large('Мы рекомендуем')
		.card-recomend__body
			+card-small('exist','tubes1','123654','бесшовная труба холоднодеформированная','8734-75','в наличии')
			+card-small('to-order','tubes2','123654','бесшовная труба холоднодеформированная','8731/8732','под заказ')
			+card-small('exist','tubes1','123654','бесшовная труба холоднодеформированная','ГОСТ 8734-75','в наличии')