section.section.contacts#contacts
	.contacts__content
		+title-large('Контакты','Подробнее о контактах')
		//- +square-large-blue
		//- .contacts__heading
		//- 	span.contacts__title Контакты
		//- 	a(href='').contacts__subtitle Подробнее о контактах
	.contacts__maps
		.contacts__piece.contacts__data.sp-office
			+contact('офис в санкт-петербурге','пр-кт Медиков, д.9 лит.Б, оф.303','88124481348','8 (812) 448-13-48','sale@mgsz.ru','#')
		.contacts__piece.contacts__map.sp-office
			iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af865219da72f7d67f4d0d8bdc857a2449816bd77bc2fa6070cef8cc6b06647b1&amp;source=constructor" width="100%" height="400" frameborder="0")
		.contacts__piece.contacts__data.sp-stock
			+contact('склад в санкт-петербурге','пр-кт Медиков, д.9 лит.Б, оф.303','88124481348','8 (812) 448-13-48','sale@mgsz.ru','#')
		.contacts__piece.contacts__map.sp-stock
			//- img(src="./assets/images/sp-stock.jpg", alt="sp-office")
			iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af865219da72f7d67f4d0d8bdc857a2449816bd77bc2fa6070cef8cc6b06647b1&amp;source=constructor" width="100%" height="400" frameborder="0")
		.contacts__piece.contacts__data.msk-stock
			+contact('склад в москве','Карачарово, ул. Стахановская, д. 19',' 84996537548',' 8 (499) 653-75-48','sale@mgsz.ru','#')
		.contacts__piece.contacts__map.msk-stock
			//- img(src="./assets/images/msk-stock.jpg", alt="sp-office")
			iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af865219da72f7d67f4d0d8bdc857a2449816bd77bc2fa6070cef8cc6b06647b1&amp;source=constructor" width="100%" height="400" frameborder="0")