section.section.subsection#subsection
	.subsection__content
		+path(['Главная','Каталог продукции','Сортовой прокат','Трубы'],'Новости компании')
		+title-large('Трубы профильные')
		+lightmenu('',[['Бесшовная труба'],['Труба электросварная'],['Труба ППУ'],['ТРУБА ВГП'],['ТРУБА нержавеющая']])
		.subsection__body
			+card-small('exist','tubes1','123654','бесшовная труба холоднодеформированная','8734-75','в наличии')
			+card-small('to-order','tubes2','123654','Труба бесшовная горячедеформированная','8731/8732','под заказ')
			+card-small('exist','tubes1','123654','Труба электросварная','8734-75','в наличии')
			+card-small('exist','tubes4','123654','труба ппу','8734-75','в наличии')
			+card-small('exist','tubes2','123654','труба вгп','8731/8732','в наличии')
			+card-small('exist','tubes1','123654','труба нержавеющая','8731/8732','в наличии')