section.section.desc#desc
	.desc__content
		+title-large('текст для продвижения')
		.desc__body
			.desc__text 
				span Текст-заполнитель - это текст, который имеет некоторые характеристики реального письменного текста, но является случайным или генерируется иным образом. Он может использоваться для отображения образца шрифтов, создания текста для тестирования или для подделки фильтра нежелательной почты. Текст-заполнитель - это текст, который имеет некоторые характеристики реального письменного текста, но является случайным или генерируется иным образом. Он может использоваться для отображения образца шрифтов, создания текста для тестирования или для подделки фильтра нежелательной почты. Текст-заполнитель - это текст, который имеет некоторые характеристики реального письменного текста, но является случайным или генерируется иным образом. Он может использоваться для отображения образца шрифтов, создания текста для тестирования или для подделки фильтра нежелательной почты.