footer.animated.rubberBand
	.footer
		.footer__content
			.footer__top
				.footer__image
					.footer__logo
						img(src="./assets/images/logo.png", alt="logo")
					a(href='').footer__calc-metal Калькулятор металлопроката
					a(href='').footer__calc-tube Трубный калькулятор
				+footer-column('Компания',['Наши клиенты','Наши объекты','Наш склад','Госты','Спецпредложения','Контакты'])
				+footer-column('Металлоконструкции',['Закладные детали','Сетки-каркасы','Производство плоских каркасов','Производство объемных каркасов','Полезная информация'])
				+footer-column('Услуги',['Изоляция ППУ','Изоляция труб ВУС 5','Оцинкование металла','Грунтовка','Резка металла','Доставка','Погрузочно-разгрузочные работы'])
			.footer__bottom
				.footer__bottom-columns
					.footer__company ООО "МеталлГрупп Северо-Запад"
					a(href='').footer__requisites Реквизиты организации
					a(href='').footer__politics Политика конфиденциальности
					.footer__year 2010-2020. Все права защищены.
	.footer__bottom-bg