header.header
	.header__bg
		img(src="./assets/images/bg_main_lg.jpg", alt="bg")
	.header__content
		h1.header__title 
			span Продажа металлопроката
			span В Санкт-Петербурге, Москве и других регионах
		.header__advantages
			span Качество
			+square-small-red
			span Отсрочка
			+square-small-red
			span Комплектация
		.header__search
			+search
		.header__oft
			ul.oft Часто ищут:
				li
					a(href="#") Лист стальной
				li 
					a(href="#") Арматура
				li 
					a(href="#") Электроды
				li 
					a(href="#") Проволока
				li 
					a(href="#") Сортовой прокат
				li 
					a(href="#") Закладные детали
				li 
					a(href="#") Арматурные каркасы
			