nav.navigation#navigation
	.navigation__menu
		ul.navigation__list
			li.navigation__item.for-active
				a(href="/about.html")
					span О компании
					+arrow('arrow--right')
				ul.navigation__sublist
					li.navigation__subitem
						a(href="/news.html")
							span Новости компании
					+square-small-blue
					li.navigation__subitem
						a(href="/news.html")
							span Новости рынка металлов
					+square-small-blue
					li.navigation__subitem
						a(href="/about.html")
							span Наши клиенты
			li.navigation__item
				a(href="/about.html")
					span Клиенты
			li.navigation__item
				a(href="/gallery.html")
					span Галерея
			li.navigation__item
				a(href="/about.html")
					span Полезное
			li.navigation__item
				a(href="/contacts.html")
					span Контакты
		button.navigation__tick.pop-trg
			.navigation__img
				img(src="./assets/images/tick.png", alt="order")
			span Оставить заявку