nav.navigation#navigation
	.navigation__menu
		ul.navigation__list
			li.navigation__item
				a(href="")
					span О компании
					span >
			li.navigation__item
				a(href="")
					span Клиенты
			li.navigation__item
				a(href="")
					span Галерея
			li.navigation__item
				a(href="")
					span Полезное
			li.navigation__item
				a(href="")
					span Контакты
		button.navigation__tick
			.navigation__img
				img(src="./assets/images/tick.png", alt="order")
			span Оставить заявку