sidebar.sidebar
	.sidebar__logo
		img(src="./assets/images/logo.png").sidebar__svg
	.sidebar__phones
		.sidebar__place
			span Санкт-Петербург
			a(href="tel:88124481348") 8 (812) 448-13-48
		.sidebar__place
			span Москва
			a(href="tel:84996537548") 8 (499) 653-75-48
	.sidebar__call
		a(href="#") Заказать звонок
	.sidebar__rolling.sidebar__category
		input(type="checkbox")#rolling
		label(for="rolling")
			h3 Металлопрокат
		+sideType('tube','Трубы и фасонные изделия',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('fastener','Метизы',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('sheet','Листовой прокат',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('sort','Сортовой прокат',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('dowel','Шпунn')
		+sideType('strip','Полособульб')
		+sideType('forging','Поковки')
	.sidebar__construct.sidebar__category
		input(type="checkbox")#construct
		label(for="construct")
			h3 Металлоконструкции
		+sideType('tube2','Трубы и фасонные изделия',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('fastener2','Метизы',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('sheet2','Листовой прокат',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('sort2','Сортовой прокат',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('dowel2','Шпунn')
		+sideType('strip2','Полособульб')
		+sideType('forging2','Поковки')
	.sidebar__serv.sidebar__category
		input(type="checkbox")#serv
		label(for="serv")
			h3 Услуги
		+sideType('tube3','Трубы и фасонные изделия',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('fastener3','Метизы',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('sheet3','Листовой прокат',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('sort3','Сортовой прокат',['Изделие 1','Изделие 2','Изделие 3'])
		+sideType('dowel3','Шпунn')
		+sideType('strip3','Полособульб')
		+sideType('forging3','Поковки')
		
	.sidebar__calc.sidebar__other
		.sidebar__icon
			img(src="./assets/images/calculator.png", alt="calculator")
		span Калькулятор
	.sidebar__price.sidebar__other
		.sidebar__icon
			img(src="./assets/images/copy.png", alt="copy")
		span Скачать прайс-лист