sidebar.sidebar
	.sidebar__logo
		img(src="./assets/images/logo.png").sidebar__svg
	.sidebar__phones
		.sidebar__place
			span Санкт-Петербург
			a(href="tel:88124481348") 8 (812) 448-13-48
		.sidebar__place
			span Москва
			a(href="tel:84996537548") 8 (499) 653-75-48
	.sidebar__call
		a(href="#") Заказать звонок
	.sidebar__rolling.sidebar__category
		input(type="checkbox")#rolling
		label(for="rolling")
			h3 Металлопрокат
		.sidebar__type Трубы и фасонные изделия
		.sidebar__type Метизы
		.sidebar__type Листовой прокат
		.sidebar__type Сортовой прокат
		.sidebar__type Шпунт
		.sidebar__type Полособульб
		.sidebar__type Поковки
	.sidebar__construct.sidebar__category
		input(type="checkbox")#construct
		label(for="construct")
			h3 Металлоконструкции
		.sidebar__type Трубы и фасонные изделия
		.sidebar__type Метизы
		.sidebar__type Листовой прокат
		.sidebar__type Сортовой прокат
		.sidebar__type Шпунт
		.sidebar__type Полособульб
		.sidebar__type Поковки
	.sidebar__serv.sidebar__category
		input(type="checkbox")#serv
		label(for="serv")
			h3 Услуги
		.sidebar__type Трубы и фасонные изделия
		.sidebar__type Метизы
		.sidebar__type Листовой прокат
		.sidebar__type Сортовой прокат
		.sidebar__type Шпунт
		.sidebar__type Полособульб
		.sidebar__type Поковки
		
	.sidebar__calc.sidebar__other
		.sidebar__icon
			img(src="./assets/images/calculator.png", alt="calculator")
		span Калькулятор
	.sidebar__price.sidebar__other
		.sidebar__icon
			img(src="./assets/images/copy.png", alt="copy")
		span Скачать прайс-лист