block variables

doctype html
html(lang="ru-Ru")
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="SM-group" name="author")
		meta(content="description" name="description")
		meta(content="prepros" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		//- favicon block start
		link(rel="shortcut icon" href="./favicon.ico" type="image/ico")
		//- favicon block end

		//- link(rel="manifest" href="./manifest.json")

		link(rel='stylesheet' href='./assets/css/normalize.css')
		link(rel='stylesheet' href='./assets/css/animate.min.css')
		link(rel='stylesheet' href='./assets/css/hover-min.css')
		link(rel='stylesheet' href='./assets/libraries/glide-3.4.1/dist/css/glide.core.min.css')
		link(rel='stylesheet' href='./assets/css/app.css')
		

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->


	body
		include ../common/_mixins
		.wrapper
			.navburger#navburger.for-active
				.navburger-line
				.navburger-line
				.navburger-line
			.burger#burger.for-active
				.burger-line
				.burger-line
				.burger-line
			include ./_sidebar
			.container
				block content
		script(src="./assets/libraries/glide-3.4.1/dist/glide.min.mjs")
		script(src="./assets/js/script.mjs")
