//Переменные
$mainColor: black;
$subColor: #254777;
$backColor: #dee0e3;
$contrColor: #cf001f;
//Общие настройки стилей
@import "./base/_mixins.scss";
@import "./base/_base.scss";
@import "./base/_fonts.scss";

// Сборка частей проекта

// Страницы
@import "./pages/index.scss";
// Модули
@import "./modules/_1-goods.scss";
@import "./modules/_2-products.scss";
@import "./modules/_3-services.scss";
@import "./modules/_4-advantages.scss";
@import "./modules/_5-reviews.scss";
@import "./modules/_6-news.scss";
@import "./modules/_7-contacts.scss";
@import "./modules/_sertificates.scss";
@import "./modules/_form.scss";
@import "./modules/_sidebar.scss";
@import "./modules/_navigation.scss";
@import "./modules/_header.scss";
@import "./modules/_footer.scss";
